<%= form_for(@assessment) do |f| %>
  <% if @assessment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assessment.errors.count, "error") %> prohibited this assessment from being saved:</h2>

      <ul>
      <% @assessment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <fieldset>
  		<%= f.collection_select :subject_id, Subject.all, :id, :name %><br><br>
  		<%= f.collection_select :type_id, Type.all, :id, :name %><br><br>
		<%= f.text_field :title, :placeholder => "Title" %><br><br>
		<label class="checkbox">
	      <%= f.check_box :exam %> <%= f.label :exam %>
	   </label><br><br>
	  	<%= f.submit "Add assessment", class: "btn" %>
  	</fieldset>
<% end %>
