<%= form_for(@assessment) do |f| %>
  <% if @assessment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assessment.errors.count, "error") %> prohibited this assessment from being saved:</h2>

      <ul>
      <% @assessment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <fieldset>
  		<%= f.collection_select :subject_id, Subject.all, :id, :name %><br>
  		<%= f.collection_select :type_id, Type.all, :id, :name %><br>
      <%= f.text_field :term, :placeholder => "Term" %><br>
		  <%= f.text_field :title, :placeholder => "Title" %><br>
	  	<%= f.submit "Save Assessment", class: "btn" %>
  	</fieldset>
<% end %>
