<%= provide(:title, 'Arcana | Assessments')%>
<h1>All Assessments</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th id="subject-sort" ng-click="predicate = 'subject.name';reverse=!reverse">Subject</th>
      <th id="type-sort" ng-click="predicate = 'type.name';reverse=!reverse">Type</th>
      <th id="assessment-sort" ng-click="predicate = 'title';reverse=!reverse">Title</th>
      <th id="average-sort" ng-click="predicate = 'average';reverse=!reverse">Average Mark</th>
      <% if current_user && current_user.admin %>
      <th>Actions</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
      <tr ng-repeat="result in results | filter:markBetween | filter:{assessment.name: taskSearch, assessment.subject.name: subjectSearch, assessment.type.name: typeSearch, student.house: houseSearch, student.fullName: nameSearch } | orderBy:predicate:reverse">
        <td><%= link_to assessment.subject.name, subject_path(assessment.subject) %></td>
        <td><%= link_to assessment.type.name, '/results#filter/' << assessment.type.name.gsub(' ', '-')  %></td>
        <td><%= link_to assessment.title, assessment_path(assessment) %></td>
        <td><%= assessment.average.to_s %></td>
        <% if current_user && current_user.admin %>
          <td><%= link_to 'Edit', edit_assessment_path(assessment)  %></td>
        <% end %>
      </tr>
  </tbody>
</table>

<br>

<% if current_user && current_user.admin %>
	<%= link_to 'New Assessment', new_assessment_path %> |
<% end %>
  <%= link_to 'Back', request.referer %> 
