<%= provide(:title, 'Arcana | Assessments')%>
<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @assessment.subject_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @assessment.type_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @assessment.title %>
</p>

<p>
  <strong>Exam:</strong>
  <%= @assessment.exam %>
</p>

<%= link_to 'Edit', edit_assessment_path(@assessment) %> |
<%= link_to 'Back', assessments_path %>
