<%= provide(:title, 'Arcana')%>
<style type="text/css">
html {
	<% if Rails.env.production? %>
	  background: url(assets/arcana-bkg-red-v1-4978bc004abe5fc2abf6b7449a9e164a.jpg) no-repeat center center fixed; 

  <% else %>
  background: url(assets/arcana-bkg-red-v1.jpg) no-repeat center center fixed; 
  <% end %>
}

body {
	background-color: transparent !important;
}
</style>

<div class="hero-unit">
	<div class="home-text">
		<strong>Welcome to Arcana!</strong>
		<p>Add some excitement and meaning to your school life.</p>
	</div>
	
	<div class="home-form">
		<div class="front-signin">
			<%= form_for(:session, url: sessions_path) do |f| %>
				<%= f.text_field :email, :placeholder => "Email" %>
				<%= f.password_field :password, :placeholder => "Password" %>
				<%= f.submit "Sign in", class: "btn submit btn-primary" %>
			<% end %>
		</div>
		<div class="front-signup">
			<h2><strong>New to Arcana?</strong> Sign up</h2>
			
			<%= form_for(Student.new) do |f| %>
				<%= f.text_field :full_name, :placeholder => "Full Name", class: "input-name", value: ""  %>
				<%= f.text_field :email, :placeholder => "Email", class: "input-email" %>
				<%= f.collection_select :house, Student.houses, :first, :last %>
				<%= f.password_field :password, :placeholder => "Password", class: "input-password" %>
				<%= f.submit "Sign up", class: "btn submit btn-primary input-submit" %>
			<% end %>
		</div>
	</div>
</div>

