<% provide(:title, 'Arcana | Search') %>
<a data-view-assessments="true">Assessments (<%= @assessments.length.to_s %>)</a>&nbsp;&nbsp;|&nbsp;&nbsp;
<a data-view-subjects="true">Subjects (<%= @subjects.length.to_s %>)</a>&nbsp;&nbsp;|&nbsp;&nbsp;
<a data-view-students="true">Students (<%= @students.length.to_s %>)</a>
<br /><br />

<ul class="assessments" data-assessments="true">
  <% @assessments.each do |assessment| %>
    <li><%= link_to assessment.title, assessment %>
  <% end %>
</ul>

<ul class="subjects" data-subjects="true">
  <% @subjects.each do |subject| %>
  	<li><%= link_to subject.name, subject %></li>
  <% end %>
</ul>

<ul class="students" data-students="true">
  <% @students.each do |student| %>
    <li><%= link_to stundent.full_name, student %></li>
  <% end %>
</ul>
