<%= provide(:title, 'Arcana | Students')%>

<h1><%= current_user.full_name %></h1>
<table class="table table-striped">
	<thead>
		<tr>
			<td>Metric</td>
			<td>Average</td>
			<td>Rank</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Overall Total</td>
			<td><%= current_user.averages[:total][:year][:overall].to_s %></td>
			<td>1st</td>
		</tr>
		<tr>
			<td>Overall Exams</td>
			<td><%= current_user.averages[:total][:year][:exam].to_s %></td>
			<td>1</td>
		</tr>
		<tr>
			<td>Overall Assessment</td>
			<td><%= current_user.averages[:total][:year][:assessment].to_s %></td>
			<td>1</td>
		</tr>
		<% Subject.all.each do |subj| %>
			<tr>
				<td><%= subj.name %></td>
				<td><%= current_user.averages[:subjects][subj.name.downcase.to_sym][:year][:overall] %></td>
				<td>1</td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
