<%= provide(:title, 'Arcana | Students')%>

<h1><%= current_user.full_name %></h1>
<table class="table table-striped">
	<thead>
		<tr>
			<td>Metric</td>
			<td>Average</td>
			<td>Rank</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Overall Total</td>
			<% if @overall_average != nil %>
			<td><%= @overall_average.overall.to_s %></td>
			<td><%= @overall_average.rank('overall') %>/td>
			<% else %>
			<td>Unknown</td>
			<td>N/A</td>
			<% end %>
		</tr>
		<tr>
			<td>Overall Exams</td>
			<% if @overall_average != nil %>
			<td><%= @overall_average.overall_exam.to_s %></td>
			<td><%= @overall_average.rank('exam') %></td>
			<% else %>
			<td>Unknown</td>
			<td>N/A</td>
			<% end %>
		</tr>
		<tr>
			<td>Overall Assessment</td>
			<% if @overall_average != nil %>
			<td><%= @overall_average.overall_assessment.to_s %></td>
			<td>1</td>
			<% else %>
			<td>Unknown</td>
			<td><%= @overall_average.rank('assessment') %></td>
			<% end %>
		</tr>
		<% Subject.all.each do |subj| %>
			<% next unless current_user.averages.where(:subject_id => subj.id).take != nil %>
			<tr>
				<td><%= subj.name %></td>
				<td><%= current_user.averages.where(:subject_id => subj.id).take.overall %></td>
				<td><%= @overall_average.rank('subject') %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
