<%= provide(:title, 'Arcana | Students')%>

<h1><%= current_user.full_name %></h1>
<table class="table table-striped">
	<thead>
		<tr>
			<td>Metric</td>
			<td>Average</td>
			<td>Rank</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Overall Total</td>
			<td><%= current_user.overall_average[:overall][:overall][:average].round(2)  %></td>
			<td><%= current_user.overall_average[:overall][:overall][:rank] + 1 %></td>
		</tr>
		<tr>
			<td>Overall Exams</td>
			<td><%= current_user.overall_average[:exams][:overall][:average].round(2)  %></td>
			<td><%= current_user.overall_average[:exams][:overall][:rank] + 1  %></td>
		</tr>
		<tr>
			<td>Overall Assessment</td>
			<td><%= current_user.overall_average[:assessment][:overall][:average].round(2) %></td>
			<td><%= current_user.overall_average[:assessment][:overall][:rank] + 1  %></td>
		</tr>
		<% Subject.all.each do |subj| %>
			<tr>
				<td><%= subj.name %></td>
				<td><%= current_user.subject_average(subj).round(2)  %></td>
				<td><%= current_user.subject_rank(subj) + 1  %></td>
			</tr>
		<% end %>
	</tbody>
</table>
