<%= provide(:title, 'Arcana | Students')%>
<p id="notice"><%= notice %></p>

<p>
  <strong>House:</strong>
  <%= @student.house %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @student.admin %>
</p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p<%= @student.average(1).to_s%>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
