<%= provide(:title, 'Arcana | Students')%>

<h1><%= current_user.full_name %></h1>
<table class="table table-striped">
	<thead>
		<tr>
			<td>Metric</td>
			<td>Average</td>
			<td>Rank</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Overall Total</td>
			<td><%= current_user.overall_average[:overall][:average] %></td>
			<td><%= current_user.overall_average[:overall][:rank] %></td>
		</tr>
		<tr>
			<td>Overall Exams</td>
			<td><%= current_user.overall_average[:exams][:average] %></td>
			<td><%= current_user.overall_average[:exams][:rank] %></td>
		</tr>
		<tr>
			<td>Overall Assessment</td>
			<td><%= current_user.overall_average[:assessment][:average] %></td>
			<td><%= current_user.overall_average[:assessment][:rank] %></td>
		</tr>
		<% Subject.all.each do |subj| %>
			<tr>
				<td><%= subj.name %></td>
				<td><%= current_user.subject_average(subj) %></td>
				<td><%= current_user.subject_rank(subj) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
