<h1>Results</h1>
<%= provide(:title, 'Arcana | Results')%>
<table class="table">
  <thead>
    <tr>
      <th id="student-sort"><a href="/results#/sort/student">Student</a></th>
      <th id="house-sort"><a href="/results#/sort/house">House</a></th>
      <th id="subject-sort"><a href="/results#/sort/subject">Subject</a></th>
      <th id="type-sort"><a href="/results#/sort/type">Type</a></th>
      <th id="assessment-sort"><a href="/results#/sort/assessment">Assessment</a></th>
      <th id="mark-sort"><a href="/results#/sort/mark">Mark</a></th>
      <th><input type="text" class="search-results" name="search" placeholder="Search"></th>
    </tr>
  </thead>

  <tbody class="res-table">
    
<%= form_for(Result.new) do |f| %>
	<tr>	
		<td><%= current_user.full_name %></td>
		<td></td>
		<td></td>
		<td></td>
  		<td><%= f.collection_select :assessment_id, Assessment.uncomplete(current_user), :id, :title %></td>
		<td><%= f.text_field :mark, :placeholder => "Mark" %></td>
		<td><a class="btn result-submit">Add</a></td>
  	</tr>
<% end %>
<div id="results-special"></div>
  </tbody>
</table>
