<%= provide(:title, 'Arcana | Results')%>

<div id="angular-app-container" ng-app="arcana">
  <div id="angular-controller-container" ng-controller="ResultsCtrl">
    <div class="btn-group btn-group-justified">
      <input type="text" id="left-input" class="result-search" ng-model="search.studentName" name="search" placeholder="Student" />
      <input type="text" class="result-search" ng-model="search.studentHouse"name="low-mark-search" placeholder="House" />
      <input type="text" class="result-search" ng-model="search.subjectName" name="low-mark-search" placeholder="Subject" />
      <input type="text" class="result-search" ng-model="search.typeName" name="low-mark-search" placeholder="Type" />
      <input type="text" class="result-search" name="search" placeholder="Task" ng-model="search.assessmentName"/>
      <input type="text" class="result-search" name="low-mark-search" ng-model="minMark" placeholder="Lowest Mark" />
      <input type="text" id="right-input" class="result-search right-input" name="high-mark-search" ng-model="maxMark" placeholder="Highest Mark" />
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th id="student-sort" ng-click="predicate = 'student.lastName';reverse=!reverse">Student</th>
          <th id="house-sort" ng-click="predicate = 'student.house'; reverse=!reverse">House</th>
          <th id="subject-sort" ng-click="predicate = 'assessment.subject.name'; reverse=!reverse">Subject</th>
          <th id="type-sort" ng-click="predicate = 'assessment.type.name'; reverse=!reverse">Type</th>
          <th id="assessment-sort" ng-click="predicate = 'assessment.name'; reverse=!reverse">Task</th>
          <th id="mark-sort" ng-click="predicate = 'mark'; reverse=!reverse">Mark</th>
          <th></th>
        </tr>
      </thead>

      <tbody class="res-table">
<%= form_for(Result.new) do |f| %>
        <tr>
                <td><%= current_user.full_name %></td>
                <td></td>
                <td></td>
                <td></td>
                <td><%= f.collection_select :assessment_id, Assessment.uncomplete(current_user), :id, :title, {:prompt => true}, { :"ng-model" => 'result.assessment.id', :class => 'select2_assessment_chooser' } %></td>
                <td class="mark-col"><%= f.text_field :mark, :placeholder => "Mark", :"ng-model" => 'result.mark' %></td>
                <td><a class="btn result-submit" ng-click="addResult()">Add</a></td>
          </tr>
<% end %>
      <tr ng-repeat="result in results | filter:search | orderBy:predicate:reverse">
        <td>{{result.studentName}}</td>
        <td>{{result.studentHouse}}</td>
        <td>{{result.subjectName}}</td>
        <td>{{result.typeName}}</td>
        <td>{{result.assessmentName}}</td>
        <td class="mark-col">
          <span ng-click="showEditor(result)" ng-hide="result.editMode">{{result.mark}}</span>
          <input type="text" placeholder="Mark" focus-on="focusMe" ng-blur="hideEditor(result)" ng-model="result.mark" ng-show="result.editMode" />
        </td>
        <td style="text-align: center; vertical-align: middle;"><span ng-if="<%= current_user.id %> == result.student.id || <%= current_user.admin || false %>"><i style="cursor:pointer;" class="icon-remove icon-white" ng-click="deleteResult(result);"></i></span></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
