<%= provide(:title, 'Arcana | Subjects')%>
<h1>All Subjects</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Leader</th>
      <th>Leader's Average</th>
      <th>My Average</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= link_to subject.name, subject %></td>
        <% if subject.assessments.any? %>
          <td><%= link_to subject.leader.full_name, subject.leader %></td>
          <td><%= subject.leader.subject_average(subject).round(2) %></td>
        <% else %>
          <td>None</td>
          <td>None</td>
        <% end %>
        <% if current_user.subject_average(subject) != nil %>
        <td><%= current_user.subject_average(subject).round(2) %></td>
        <% else %>
        <td>N/A</td>
        <% end %>
        <td><%= link_to "Assessment Tasks", "/assessments" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user && current_user.admin %>
	<%= link_to 'New Subject', new_subject_path %> |
<% end %>

  <%= link_to 'Back', request.referer %>

