<%= provide(:title, 'Arcana | New Subject')%>
<p id="notice"><%= notice %></p>
<h3><%= @subject.name %>:  &nbsp;&nbsp;&nbsp;<a href="/assessments">See all assessments >></a></h3> 


<table class="table table-striped">
	<tbody>
		<tr>
			<td>Number of Assessments</td>
			<td><%= @subject.assessments.count.to_s %></td>
		</tr>
		<tr>
			<td>Highest Average</td>
			<td><%= @subject.leader.averages.where(:subject_id => @subject.id).take.overall %></td>
		</tr>
		<tr>
			<td>Mean Average</td>
			<td><%= @subject.mean_average.to_s %></td>
		</tr>
		<tr>
			<td>My Average</td>
			<td><%= current_user.averages.where(:subject_id => @subject.id).take.overall %></td>
		</tr>
		<tr>
			<td>Houses Studying</td>
			<td>Millward, Riley, Jones</td>
		</tr>
		<tr>
			<td>Elective</td>
			<td>No</td>
		</tr>
	</tdody>
</table>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
